@model PhotoGallery.Gallery.IndexViewModel
@{
    ViewBag.Title = Model.Name;
}
@section metadata{
    <meta property="og:type" content="article" />@{
        var path = Url.Action("Index", "Gallery", new { path = Model.Path });
        var absUrl = string.Format("{0}://{1}{2}", Context.Request.Scheme, Context.Request.Host, path);
        var absUri = new Uri(absUrl, UriKind.Absolute);
    }
    <meta property="og:url" content="@absUri.ToString()" />
    <meta property="og:title" content="@(string.IsNullOrWhiteSpace(Model.Name) ? "" : $"{Model.Name} - ") Sheleski Pictures" />
    @if (Model.SharePicture != null)
    {
        <meta property="og:image" content="@(Url.Action("GetThumbnail", "Gallery", new { Path = Model.SharePicture.Path }))" />
        <meta property="og:image:secure_url" content="@(Url.Action("GetThumbnail", "Gallery", new { Path = Model.SharePicture.Path }))" />
    }
}
@section styles{
    <style type="text/css">
        @@media (min-width: 768px) {
            .item img {
                height: 100px;
            }
        }

        .thumbnail img {
            border-radius: 5px;
        }
    </style>
}
@section scripts{
    <script src="~/lib/jquery_lazyload/jquery.lazyload.js"></script>
    <script type="text/javascript">
        $(function () {
            $("img.lazy").lazyload({
                effect: "fadeIn",
                threshold: 200
            });

            $(".fb-comments").attr("data-href", window.location.href);
        })
    </script>
}
<ol class="breadcrumb">
    <li>
        <a href="@Url.Action("Index", "Gallery")">
            Home
        </a>
    </li>
    @{
        if (Model.Path != null)
        {
            string totalPath = "";
            var pathParts = Model.Path.Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries);
            for (int i = 0; i < pathParts.Length; ++i)
            {
                totalPath = (i == 0) ? pathParts[i] : string.Join("/", totalPath, pathParts[i]);
                <li class="@(i == (pathParts.Length - 1) ? "active": "")">
                    <a href="@(Url.Action("Index", "Gallery", new { Path = totalPath + '/' }))">
                        @pathParts[i]
                    </a>
                </li>
            }
        }
    }
</ol>
<h2>@Html.DisplayFor(m => m.Name)</h2>
<div>
    <ul class="row list-unstyled">
        @foreach (var dir in Model.Directories)
        {
            <li class="col-xs-6 col-sm-4 col-md-3 item item-directory">
                <a href="@(Url.Action("Index", "Gallery", new { Path = dir.Path }))" class="thumbnail">
                    @if (dir.Thumbnail != null)
                    {
                        <img src="@(Url.Action("GetThumbnail", "Gallery", new { Path = dir.Thumbnail.Path }))" alt="@dir.Thumbnail.Name thumbnail" />
                    }
                    else
                    {
                        <img src="http://placehold.it/100x100" alt="placeholder" />
                    }
                    <p class="text-center">
                        <span>@Html.DisplayFor(m => dir.Name)</span>
                    </p>
                </a>
            </li>
        }
    </ul>
</div>

<div>
    <ul class="row list-unstyled">
        @foreach (var item in Model.Items)
        {
            <li class="col-sm-4 col-md-3 item item-picture">
                <a href="@Url.Action("Picture", "Gallery", new { Path = item.Path })" class="thumbnail">
                    <img class="lazy" src="@(Url.Content("~/images/loading.svg"))" data-original="@Url.Action("GetThumbnail", "Gallery", new { Path = item.Path })" />
                    <noscript>
                        <img src="@Url.Action("GetThumbnail", "Gallery", new { Path = item.Path })" />
                    </noscript>
                    <p class="text-center">
                        <span>@Html.DisplayFor(m => item.Name)</span>
                    </p>
                </a>
            </li>
        }
    </ul>
</div>
<div class="text-center">
    <div class="fb-share-button" data-layout="button" data-size="large" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">Share</a>
    </div>
</div>
<div class="fb-comments" data-numposts="5" data-width="100%" data-href="http://pictures.sheleski.com"></div>